{% extends 'frontend/base.html'%} 
 {% block title %}action_theme_selection{% endblock %}

{% block content %}
  <div class="clearfix borderbox" id="page"><!-- group -->
   <div id="u265-4-wrapper">
    <img id="u265-4" alt="USER X" src="/static/images/u265-4.png?crc=4290352754" data-image-width="49"/><!-- rasterized frame -->
   </div>
   <div id="u256-wrapper">
    <div id="u256"><!-- simple frame --></div>
   </div>
   <div id="u253-wrapper">
    <a class="nonblock nontext" id="u253" href="genre_selection"><!-- simple frame --></a>
   </div>
   <a class="nonblock nontext" id="u262-3" href="/frontend/action_competition_plot_selection"><!-- rasterized frame --><div id="u262-3-wrapper"><div id="u262-3_img"></div></div></a>
   <a class="nonblock nontext" id="u261-3" href="/frontend/action_war_plot_selection"><!-- rasterized frame --><div id="u261-3-wrapper"><div id="u261-3_img"></div></div></a>
   <a class="nonblock nontext" id="u264-3" href="/frontend/action_space_plot_selection"><!-- rasterized frame --><div id="u264-3-wrapper"><div id="u264-3_img"></div></div></a>
   <a class="nonblock nontext" id="u254-4" href="/frontend/action_competition_plot_selection"><!-- rasterized frame --><div id="u254-4-wrapper"><img id="u254-4_img" alt="COMPETITION" src="/static/images/u254-4.png?crc=3852419802" data-image-width="246"/></div></a>
   <a class="nonblock nontext" id="u259-4" href="/frontend/action_war_plot_selection"><!-- rasterized frame --><div id="u259-4-wrapper"><img id="u259-4_img" alt="WAR" src="/static/images/u259-4.png?crc=3928210647" data-image-width="95"/></div></a>
   <a class="nonblock nontext" id="u255-4" href="/frontend/action_space_plot_selection"><!-- rasterized frame --><div id="u255-4-wrapper"><img id="u255-4_img" alt="SPACE" src="/static/images/u255-4.png?crc=311500184" data-image-width="120"/></div></a>
   <div id="u263-4-wrapper">
    <img id="u263-4" alt="AI VIEW" src="/static/images/u263-4.png?crc=3777459588" data-image-width="52"/><!-- rasterized frame -->
   </div>
   <div id="u260-4-wrapper">
    <img id="u260-4" alt="SELECT A THEME" src="/static/images/u260-4.png?crc=319592059" data-image-width="154"/><!-- rasterized frame -->
   </div>
   <a class="nonblock nontext" id="u257-4" href="/frontend"><!-- rasterized frame --><div id="u257-4-wrapper"><img id="u257-4_img" alt="START AGAIN" src="/static/images/u257-4.png?crc=190514461" data-image-width="104"/></div></a>
   <a class="nonblock nontext" id="u258-4" href="/frontend"><!-- rasterized frame --><div id="u258-4-wrapper"><img id="u258-4_img" alt="FILM / ACTION" src="/static/images/u258-4.png?crc=493356326" data-image-width="324"/></div></a>
   <div class="verticalspacer" data-offset-top="0" data-content-above-spacer="0" data-content-below-spacer="500" data-sizePolicy="fixed" data-pintopage="page_fixedLeft"></div>
  </div>
{% endblock %}
