{% extends 'frontend/base.html'%} 
 {% block title %}action_space_plot_selection{% endblock %}

{% block content %}
  <div class="clearfix borderbox" id="page"><!-- group -->
   <div id="u463-4-wrapper">
    <img id="u463-4" alt="USER X" src="/static/images/u463-4.png?crc=4290352754" data-image-width="49"/><!-- rasterized frame -->
   </div>
   <div id="u471-wrapper">
    <div id="u471"><!-- simple frame --></div>
   </div>
   <div id="u469-wrapper">
    <a class="nonblock nontext" id="u469" href="genre_selection.html"><!-- simple frame --></a>
   </div>
   <div id="u462-3-wrapper">
    <div id="u462-3"><!-- rasterized frame --></div>
   </div>
   <div id="u470-3-wrapper">
    <div id="u470-3"><!-- rasterized frame --></div>
   </div>
   <div id="u461-3-wrapper">
    <div id="u461-3"><!-- rasterized frame --></div>
   </div>
   <div id="u467-4-wrapper">
    <img id="u467-4" alt="MISSING YOUR FAMILY" src="/static/images/u467-4.png?crc=3939374189" data-image-width="400"/><!-- rasterized frame -->
   </div>
   <div id="u468-4-wrapper">
    <img id="u468-4" alt="NO RETURN" src="/static/images/u468-4.png?crc=258481760" data-image-width="208"/><!-- rasterized frame -->
   </div>
   <div id="u465-4-wrapper">
    <img id="u465-4" alt="ALIENS ATTACK" src="/static/images/u465-4.png?crc=4155073382" data-image-width="271"/><!-- rasterized frame -->
   </div>
   <div id="u466-4-wrapper">
    <img id="u466-4" alt="AI VIEW" src="/static/images/u466-4.png?crc=3777459588" data-image-width="52"/><!-- rasterized frame -->
   </div>
   <div id="u473-4-wrapper">
    <img id="u473-4" alt="SELECT A PLOT" src="/static/images/u473-4.png?crc=3916348326" data-image-width="126"/><!-- rasterized frame -->
   </div>
   <a class="nonblock nontext" id="u472-4" href="/frontend"><!-- rasterized frame --><div id="u472-4-wrapper"><img id="u472-4_img" alt="START AGAIN" src="/static/images/u472-4.png?crc=190514461" data-image-width="104"/></div></a>
   <a class="nonblock nontext" id="u464-4" href="/frontend"><!-- rasterized frame --><div id="u464-4-wrapper"><img id="u464-4_img" alt="FILM / ACTION / SPACE" src="/static/images/u464-4.png?crc=4143801605" data-image-width="324"/></div></a>
   <div class="verticalspacer" data-offset-top="0" data-content-above-spacer="0" data-content-below-spacer="500" data-sizePolicy="fixed" data-pintopage="page_fixedLeft"></div>
  </div>
{% endblock %}
