{% extends 'frontend/base.html'%} 
 {% block title %}action_war_plot_selection{% endblock %}

{% block content %}
  <div class="clearfix borderbox" id="page"><!-- group -->
   <div id="u430-4-wrapper">
    <img id="u430-4" alt="USER X" src="/static/images/u430-4.png?crc=4290352754" data-image-width="49"/><!-- rasterized frame -->
   </div>
   <div id="u434-wrapper">
    <div id="u434"><!-- simple frame --></div>
   </div>
   <div id="u427-wrapper">
    <a class="nonblock nontext" id="u427" href="genre_selection"><!-- simple frame --></a>
   </div>
   <div id="u435-3-wrapper">
    <div id="u435-3"><!-- rasterized frame --></div>
   </div>
   <div id="u431-3-wrapper">
    <div id="u431-3"><!-- rasterized frame --></div>
   </div>
   <div id="u437-3-wrapper">
    <div id="u437-3"><!-- rasterized frame --></div>
   </div>
   <div id="u432-4-wrapper">
    <img id="u432-4" alt="MAKE A PLAN" src="/static/images/u432-4.png?crc=4222303338" data-image-width="240"/><!-- rasterized frame -->
   </div>
   <div id="u433-4-wrapper">
    <img id="u433-4" alt="ATTACK" src="/static/images/u433-4.png?crc=206555095" data-image-width="140"/><!-- rasterized frame -->
   </div>
   <div id="u436-4-wrapper">
    <img id="u436-4" alt="CLIMAX" src="/static/images/u436-4.png?crc=4170531856" data-image-width="146"/><!-- rasterized frame -->
   </div>
   <div id="u438-4-wrapper">
    <img id="u438-4" alt="AI VIEW" src="/static/images/u438-4.png?crc=3777459588" data-image-width="52"/><!-- rasterized frame -->
   </div>
   <div id="u428-4-wrapper">
    <img id="u428-4" alt="SELECT A PLOT" src="/static/images/u428-4.png?crc=3916348326" data-image-width="126"/><!-- rasterized frame -->
   </div>
   <a class="nonblock nontext" id="u429-4" href="/frontend"><!-- rasterized frame --><div id="u429-4-wrapper"><img id="u429-4_img" alt="START AGAIN" src="/static/images/u429-4.png?crc=190514461" data-image-width="104"/></div></a>
   <a class="nonblock nontext" id="u426-4" href="/frontend"><!-- rasterized frame --><div id="u426-4-wrapper"><img id="u426-4_img" alt="FILM / ACTION / WAR" src="/static/images/u426-4.png?crc=3952049151" data-image-width="324"/></div></a>
   <div class="verticalspacer" data-offset-top="0" data-content-above-spacer="0" data-content-below-spacer="500" data-sizePolicy="fixed" data-pintopage="page_fixedLeft"></div>
</div>
{% endblock %}
