{% extends 'frontend/base.html'%} 
 {% block title %}action_competition_plot_selection{% endblock %}

{% block content %}
  <div class="clearfix borderbox" id="page"><!-- group -->
   <div id="u507-4-wrapper">
    <img id="u507-4" alt="USER X" src="/static/images/u507-4.png?crc=4290352754" data-image-width="49"/><!-- rasterized frame -->
   </div>
   <div id="u508-wrapper">
    <div id="u508"><!-- simple frame --></div>
   </div>
   <div id="u506-wrapper">
    <a class="nonblock nontext" id="u506" href="genre_selection.html"><!-- simple frame --></a>
   </div>
   <div id="u501-3-wrapper">
    <div id="u501-3"><!-- rasterized frame --></div>
   </div>
   <div id="u499-3-wrapper">
    <div id="u499-3"><!-- rasterized frame --></div>
   </div>
   <div id="u500-3-wrapper">
    <div id="u500-3"><!-- rasterized frame --></div>
   </div>
   <div id="u502-4-wrapper">
    <img id="u502-4" alt="CAR CHASE" src="/static/images/u502-4.png?crc=4223815189" data-image-width="197"/><!-- rasterized frame -->
   </div>
   <div id="u509-4-wrapper">
    <img id="u509-4" alt="WIN" src="/static/images/u509-4.png?crc=3905468719" data-image-width="78"/><!-- rasterized frame -->
   </div>
   <div id="u504-4-wrapper">
    <img id="u504-4" alt="LOOSE" src="/static/images/u504-4.png?crc=4020309803" data-image-width="116"/><!-- rasterized frame -->
   </div>
   <div id="u511-4-wrapper">
    <img id="u511-4" alt="AI VIEW" src="/static/images/u511-4.png?crc=3777459588" data-image-width="52"/><!-- rasterized frame -->
   </div>
   <div id="u503-4-wrapper">
    <img id="u503-4" alt="SELECT A PLOT" src="/static/images/u503-4.png?crc=3916348326" data-image-width="126"/><!-- rasterized frame -->
   </div>
   <a class="nonblock nontext" id="u510-4" href="/frontend"><!-- rasterized frame --><div id="u510-4-wrapper"><img id="u510-4_img" alt="START AGAIN" src="/static/images/u510-4.png?crc=190514461" data-image-width="104"/></div></a>
   <a class="nonblock nontext" id="u505-4" href="/frontend"><!-- rasterized frame --><div id="u505-4-wrapper"><img id="u505-4_img" alt="FILM / ACTION / COMPETITION" src="/static/images/u505-4.png?crc=499587002" data-image-width="324"/></div></a>
   <div class="verticalspacer" data-offset-top="0" data-content-above-spacer="0" data-content-below-spacer="500" data-sizePolicy="fixed" data-pintopage="page_fixedLeft"></div>
  </div>
{% endblock %}
