{% extends 'frontend/base.html'%} 
 {% block title %}comedy_theme_selection{% endblock %}

{% block content %}
  <div class="clearfix borderbox" id="page"><!-- group -->
   <div id="u279-4-wrapper">
    <img id="u279-4" alt="USER X" src="/static/images/u279-4.png?crc=4290352754" data-image-width="49"/><!-- rasterized frame -->
   </div>
   <div id="u280-wrapper">
    <div id="u280"><!-- simple frame --></div>
   </div>
   <div id="u278-wrapper">
    <a class="nonblock nontext" id="u278" href="/frontend/genre_selection"><!-- simple frame --></a>
   </div>
   <a class="nonblock nontext" id="u277-3" href="/frontend/comedy_relationship_plot_selection"><!-- rasterized frame --><div id="u277-3-wrapper"><div id="u277-3_img"></div></div></a>
   <a class="nonblock nontext" id="u276-3" href="/frontend/comedy_confusion_plot_selection"><!-- rasterized frame --><div id="u276-3-wrapper"><div id="u276-3_img"></div></div></a>
   <a class="nonblock nontext" id="u281-3" href="/frontend/comedy_surrealism_plot_selection"><!-- rasterized frame --><div id="u281-3-wrapper"><div id="u281-3_img"></div></div></a>
   <a class="nonblock nontext" id="u273-4" href="/frontend/comedy_relationship_plot_selection"><!-- rasterized frame --><div id="u273-4-wrapper"><img id="u273-4_img" alt="RELATIONSHIP" src="/static/images/u273-4.png?crc=4264533821" data-image-width="264"/></div></a>
   <a class="nonblock nontext" id="u284-4" href="/frontend/comedy_confusion_plot_selection"><!-- rasterized frame --><div id="u284-4-wrapper"><img id="u284-4_img" alt="CONFUSION" src="/static/images/u284-4.png?crc=4114716061" data-image-width="212"/></div></a>
   <a class="nonblock nontext" id="u274-4" href="/frontend/comedy_surrealism_plot_selection"><!-- rasterized frame --><div id="u274-4-wrapper"><img id="u274-4_img" alt="SURREALISM" src="/static/images/u274-4.png?crc=4129528279" data-image-width="228"/></div></a>
   <div id="u272-4-wrapper">
    <img id="u272-4" alt="AI VIEW" src="/static/images/u272-4.png?crc=3777459588" data-image-width="52"/><!-- rasterized frame -->
   </div>
   <div id="u282-4-wrapper">
    <img id="u282-4" alt="SELECT A THEME" src="/static/images/u282-4.png?crc=319592059" data-image-width="154"/><!-- rasterized frame -->
   </div>
   <a class="nonblock nontext" id="u283-4" href="/frontend"><!-- rasterized frame --><div id="u283-4-wrapper"><img id="u283-4_img" alt="START AGAIN" src="/static/images/u283-4.png?crc=190514461" data-image-width="104"/></div></a>
   <a class="nonblock nontext" id="u275-4" href="/frontend"><!-- rasterized frame --><div id="u275-4-wrapper"><img id="u275-4_img" alt="FILM / COMEDY" src="/static/images/u275-4.png?crc=4264819931" data-image-width="324"/></div></a>
   <div class="verticalspacer" data-offset-top="0" data-content-above-spacer="0" data-content-below-spacer="500" data-sizePolicy="fixed" data-pintopage="page_fixedLeft"></div>
</div>
{% endblock %}
