{% extends 'frontend/base.html'%} 
 {% block title %}comedy_confusion_plot_selection{% endblock %}

{% block content %}
  <div class="clearfix borderbox" id="page"><!-- group -->
   <div id="u568-4-wrapper">
    <img id="u568-4" alt="USER X" src="/static/images/u568-4.png?crc=4290352754" data-image-width="49"/><!-- rasterized frame -->
   </div>
   <div id="u565-wrapper">
    <div id="u565"><!-- simple frame --></div>
   </div>
   <div id="u562-wrapper">
    <a class="nonblock nontext" id="u562" href="genre_selection.html"><!-- simple frame --></a>
   </div>
   <div id="u557-3-wrapper">
    <div id="u557-3"><!-- rasterized frame --></div>
   </div>
   <div id="u564-3-wrapper">
    <div id="u564-3"><!-- rasterized frame --></div>
   </div>
   <div id="u567-4-wrapper">
    <img id="u567-4" alt="A OBJECT" src="/static/images/u567-4.png?crc=4217630420" data-image-width="162"/><!-- rasterized frame -->
   </div>
   <div id="u561-4-wrapper">
    <img id="u561-4" alt="A PERSON" src="/static/images/u561-4.png?crc=110662961" data-image-width="180"/><!-- rasterized frame -->
   </div>
   <div id="u566-4-wrapper">
    <img id="u566-4" alt="AI VIEW" src="/static/images/u566-4.png?crc=3777459588" data-image-width="52"/><!-- rasterized frame -->
   </div>
   <div id="u563-4-wrapper">
    <img id="u563-4" alt="SELECT A PLOT" src="/static/images/u563-4.png?crc=3916348326" data-image-width="126"/><!-- rasterized frame -->
   </div>
   <a class="nonblock nontext" id="u569-4" href="/frontend"><!-- rasterized frame --><div id="u569-4-wrapper"><img id="u569-4_img" alt="START AGAIN" src="/static/images/u569-4.png?crc=190514461" data-image-width="104"/></div></a>
   <a class="nonblock nontext" id="u560-4" href="/frontend"><!-- rasterized frame --><div id="u560-4-wrapper"><img id="u560-4_img" alt="FILM / COMEDY / CONFUSION" src="/static/images/u560-4.png?crc=3947322276" data-image-width="324"/></div></a>
   <div class="verticalspacer" data-offset-top="0" data-content-above-spacer="0" data-content-below-spacer="500" data-sizePolicy="fixed" data-pintopage="page_fixedLeft"></div>
  </div>
{% endblock %}
