{% extends 'frontend/base.html'%} 
 {% block title %}comedy_relationship_plot_selection{% endblock %}

{% block content %}
  <div class="clearfix borderbox" id="page"><!-- group -->
   <div id="u621-4-wrapper">
    <img id="u621-4" alt="USER X" src="/static/images/u621-4.png?crc=4290352754" data-image-width="49"/><!-- rasterized frame -->
   </div>
   <div id="u623-wrapper">
    <div id="u623"><!-- simple frame --></div>
   </div>
   <div id="u622-wrapper">
    <a class="nonblock nontext" id="u622" href="genre_selection.html"><!-- simple frame --></a>
   </div>
   <div id="u620-3-wrapper">
    <div id="u620-3"><!-- rasterized frame --></div>
   </div>
   <div id="u618-3-wrapper">
    <div id="u618-3"><!-- rasterized frame --></div>
   </div>
   <div id="u617-4-wrapper">
    <img id="u617-4" alt="GET-TO-KNOW" src="/static/images/u617-4.png?crc=3957034064" data-image-width="255"/><!-- rasterized frame -->
   </div>
   <div id="u613-4-wrapper">
    <img id="u613-4" alt="FORCED SITUATION" src="/static/images/u613-4.png?crc=173361969" data-image-width="342"/><!-- rasterized frame -->
   </div>
   <div id="u619-4-wrapper">
    <img id="u619-4" alt="AI VIEW" src="/static/images/u619-4.png?crc=3777459588" data-image-width="52"/><!-- rasterized frame -->
   </div>
   <div id="u616-4-wrapper">
    <img id="u616-4" alt="SELECT A PLOT" src="/static/images/u616-4.png?crc=3916348326" data-image-width="126"/><!-- rasterized frame -->
   </div>
   <a class="nonblock nontext" id="u615-4" href="/frontend"><!-- rasterized frame --><div id="u615-4-wrapper"><img id="u615-4_img" alt="START AGAIN" src="/static/images/u615-4.png?crc=190514461" data-image-width="104"/></div></a>
   <a class="nonblock nontext" id="u614-4" href="/frontend"><!-- rasterized frame --><div id="u614-4-wrapper"><img id="u614-4_img" alt="FILM / COMEDY / RELATIONSHIP" src="/static/images/u614-4.png?crc=500552270" data-image-width="324"/></div></a>
   <div class="verticalspacer" data-offset-top="0" data-content-above-spacer="0" data-content-below-spacer="500" data-sizePolicy="fixed" data-pintopage="page_fixedLeft"></div>
  </div>
{% endblock %}
