{% extends 'frontend/base.html'%} 
 {% block title %}drama_theme_selection{% endblock %}

{% block content %}
  <div class="clearfix borderbox" id="page"><!-- group -->
   <div id="u199-4-wrapper">
    <img id="u199-4" alt="USER X" src="/static/images/u199-4.png?crc=4290352754" data-image-width="49"/><!-- rasterized frame -->
   </div>
   <div id="u198-wrapper">
    <div id="u198"><!-- simple frame --></div>
   </div>
   <div id="u201-wrapper">
    <a class="nonblock nontext" id="u201" href="/frontend/genre_selection"><!-- simple frame --></a>
   </div>
   <a class="nonblock nontext" id="u205-3" href="/frontend/drama_identity_crisis_plot_selection"><!-- rasterized frame --><div id="u205-3-wrapper"><div id="u205-3_img"></div></div></a>
   <a class="nonblock nontext" id="u204-3" href="/frontend/drama_loss_plot_selection"><!-- rasterized frame --><div id="u204-3-wrapper"><div id="u204-3_img"></div></div></a>
   <a class="nonblock nontext" id="u203-3" href="/frontend/drama_kidnapping_plot_selection"><!-- rasterized frame --><div id="u203-3-wrapper"><div id="u203-3_img"></div></div></a>
   <a class="nonblock nontext" id="u200-4" href="/frontend/drama_identity_crisis_plot_selection"><!-- rasterized frame --><div id="u200-4-wrapper"><img id="u200-4_img" alt="IDENTITY CRISIS" src="/static/images/u200-4.png?crc=410544234" data-image-width="288"/></div></a>
   <a class="nonblock nontext" id="u207-4" href="/frontend/drama_loss_plot_selection"><!-- rasterized frame --><div id="u207-4-wrapper"><img id="u207-4_img" alt="LOSS" src="/static/images/u207-4.png?crc=47729439" data-image-width="174"/></div></a>
   <a class="nonblock nontext" id="u206-4" href="/frontend/drama_kidnapping_plot_selection"><!-- rasterized frame --><div id="u206-4-wrapper"><img id="u206-4_img" alt="KIDNAPPING" src="/static/images/u206-4.png?crc=148979019" data-image-width="228"/></div></a>
   <div id="u197-4-wrapper">
    <img id="u197-4" alt="AI VIEW" src="/static/images/u197-4.png?crc=3777459588" data-image-width="52"/><!-- rasterized frame -->
   </div>
   <div id="u208-4-wrapper">
    <img id="u208-4" alt="SELECT A THEME" src="/static/images/u208-4.png?crc=319592059" data-image-width="154"/><!-- rasterized frame -->
   </div>
   <a class="nonblock nontext" id="u202-4" href="/frontend"><!-- rasterized frame --><div id="u202-4-wrapper"><img id="u202-4_img" alt="START AGAIN" src="/static/images/u202-4.png?crc=190514461" data-image-width="104"/></div></a>
   <a class="nonblock nontext" id="u211-4" href="/frontend"><!-- rasterized frame --><div id="u211-4-wrapper"><img id="u211-4_img" alt="FILM / DRAMA" src="/static/images/u211-4.png?crc=4196118203" data-image-width="324"/></div></a>
   <div class="verticalspacer" data-offset-top="0" data-content-above-spacer="0" data-content-below-spacer="500" data-sizePolicy="fixed" data-pintopage="page_fixedLeft"></div>
  </div>
{% endblock %}
