{% extends 'frontend/base.html'%} 
 {% block title %}drama_identity_crisis_plot_selection{% endblock %}

{% block content %}

  <div class="clearfix borderbox" id="page"><!-- group -->
   <div id="u409-4-wrapper">
    <img id="u409-4" alt="USER X" src="/static/images/u409-4.png?crc=4290352754" data-image-width="49"/><!-- rasterized frame -->
   </div>
   <div id="u408-wrapper">
    <div id="u408"><!-- simple frame --></div>
   </div>
   <div id="u405-wrapper">
    <a class="nonblock nontext" id="u405" href="genre_selection.html"><!-- simple frame --></a>
   </div>
   <div id="u415-3-wrapper">
    <div id="u415-3"><!-- rasterized frame --></div>
   </div>
   <div id="u406-3-wrapper">
    <div id="u406-3"><!-- rasterized frame --></div>
   </div>
   <div id="u413-3-wrapper">
    <div id="u413-3"><!-- rasterized frame --></div>
   </div>
   <div id="u407-4-wrapper">
    <img id="u407-4" alt="KNOWLEDGE MOMENT" src="/static/images/u407-4.png?crc=3871441589" data-image-width="413"/><!-- rasterized frame -->
   </div>
   <div id="u412-4-wrapper">
    <img id="u412-4" alt="DESPAIR" src="/static/images/u412-4.png?crc=3910879387" data-image-width="150"/><!-- rasterized frame -->
   </div>
   <div id="u410-4-wrapper">
    <img id="u410-4" alt="RESOLUTION" src="/static/images/u410-4.png?crc=9469067" data-image-width="227"/><!-- rasterized frame -->
   </div>
   <div id="u403-4-wrapper">
    <img id="u403-4" alt="AI VIEW" src="/static/images/u403-4.png?crc=3777459588" data-image-width="52"/><!-- rasterized frame -->
   </div>
   <div id="u414-4-wrapper">
    <img id="u414-4" alt="SELECT A PLOT" src="/static/images/u414-4.png?crc=3916348326" data-image-width="126"/><!-- rasterized frame -->
   </div>
   <a class="nonblock nontext" id="u404-4" href="/frontend"><!-- rasterized frame --><div id="u404-4-wrapper"><img id="u404-4_img" alt="START AGAIN" src="/static/images/u404-4.png?crc=190514461" data-image-width="104"/></div></a>
   <a class="nonblock nontext" id="u411-4" href="/frontend"><!-- rasterized frame --><div id="u411-4-wrapper"><img id="u411-4_img" alt="FILM / DRAMA / IDENTITY CRISIS" src="/static/images/u411-4.png?crc=223538848" data-image-width="324"/></div></a>
   <div class="verticalspacer" data-offset-top="0" data-content-above-spacer="0" data-content-below-spacer="500" data-sizePolicy="fixed" data-pintopage="page_fixedLeft"></div>
  </div>
{% endblock %}
