{% extends 'frontend/base.html'%} 
 {% block title %}drama_kidnapping_plot_selection{% endblock %}

{% block content %}
  <div class="clearfix borderbox" id="page"><!-- group -->
   <div id="u370-4-wrapper">
    <img id="u370-4" alt="USER X" src="/static/images/u370-4.png?crc=4290352754" data-image-width="49"/><!-- rasterized frame -->
   </div>
   <div id="u376-wrapper">
    <div id="u376"><!-- simple frame --></div>
   </div>
   <div id="u368-wrapper">
    <a class="nonblock nontext" id="u368" href="genre_selection.html"><!-- simple frame --></a>
   </div>
   <div id="u378-3-wrapper">
    <div id="u378-3"><!-- rasterized frame --></div>
   </div>
   <div id="u372-3-wrapper">
    <div id="u372-3"><!-- rasterized frame --></div>
   </div>
   <div id="u377-3-wrapper">
    <div id="u377-3"><!-- rasterized frame --></div>
   </div>
   <div id="u367-4-wrapper">
    <img id="u367-4" alt="DRAMATIC REUNION" src="/static/images/u367-4.png?crc=226435590" data-image-width="363"/><!-- rasterized frame -->
   </div>
   <div id="u379-4-wrapper">
    <img id="u379-4" alt="CAR RIDE" src="/static/images/u379-4.png?crc=19466402" data-image-width="163"/><!-- rasterized frame -->
   </div>
   <div id="u374-4-wrapper">
    <img id="u374-4" alt="PHONE CALL" src="/static/images/u374-4.png?crc=244363973" data-image-width="231"/><!-- rasterized frame -->
   </div>
   <div id="u375-4-wrapper">
    <img id="u375-4" alt="AI VIEW" src="/static/images/u375-4.png?crc=3777459588" data-image-width="52"/><!-- rasterized frame -->
   </div>
   <div id="u371-4-wrapper">
    <img id="u371-4" alt="SELECT A PLOT" src="/static/images/u371-4.png?crc=3916348326" data-image-width="126"/><!-- rasterized frame -->
   </div>
   <a class="nonblock nontext" id="u369-4" href="/frontend"><!-- rasterized frame --><div id="u369-4-wrapper"><img id="u369-4_img" alt="START AGAIN" src="/static/images/u369-4.png?crc=190514461" data-image-width="104"/></div></a>
   <a class="nonblock nontext" id="u373-4" href="/frontend"><!-- rasterized frame --><div id="u373-4-wrapper"><img id="u373-4_img" alt="FILM / DRAMA / KIDNAPPING" src="/static/images/u373-4.png?crc=4111461984" data-image-width="324"/></div></a>
   <div class="verticalspacer" data-offset-top="0" data-content-above-spacer="0" data-content-below-spacer="500" data-sizePolicy="fixed" data-pintopage="page_fixedLeft"></div>
  </div>
{% endblock %}
