{% extends 'frontend/base.html'%} 
 {% block title %}drama_loss_plot_selection{% endblock %}

{% block content %}
  <div class="clearfix borderbox" id="page"><!-- group -->
   <div id="u315-4-wrapper">
    <img id="u315-4" alt="USER X" src="/static/images/u315-4.png?crc=4290352754" data-image-width="49"/><!-- rasterized frame -->
   </div>
   <div id="u316-wrapper">
    <div id="u316"><!-- simple frame --></div>
   </div>
   <div id="u322-wrapper">
    <a class="nonblock nontext" id="u322" href="genre_selection.html"><!-- simple frame --></a>
   </div>
   <div id="u321-3-wrapper">
    <div id="u321-3"><!-- rasterized frame --></div>
   </div>
   <div id="u312-3-wrapper">
    <div id="u312-3"><!-- rasterized frame --></div>
   </div>
   <div id="u317-3-wrapper">
    <div id="u317-3"><!-- rasterized frame --></div>
   </div>
   <div id="u313-4-wrapper">
    <img id="u313-4" alt="DISCUSSION" src="/static/images/u313-4.png?crc=173493842" data-image-width="220"/><!-- rasterized frame -->
   </div>
   <div id="u310-4-wrapper">
    <img id="u310-4" alt="DEATH" src="/static/images/u310-4.png?crc=4021893872" data-image-width="121"/><!-- rasterized frame -->
   </div>
   <div id="u311-4-wrapper">
    <img id="u311-4" alt="GET UP" src="/static/images/u311-4.png?crc=405021085" data-image-width="137"/><!-- rasterized frame -->
   </div>
   <div id="u314-4-wrapper">
    <img id="u314-4" alt="AI VIEW" src="/static/images/u314-4.png?crc=3777459588" data-image-width="52"/><!-- rasterized frame -->
   </div>
   <div id="u319-4-wrapper">
    <img id="u319-4" alt="SELECT A PLOT" src="/static/images/u319-4.png?crc=3916348326" data-image-width="126"/><!-- rasterized frame -->
   </div>
   <a class="nonblock nontext" id="u320-4" href="/frontend"><!-- rasterized frame --><div id="u320-4-wrapper"><img id="u320-4_img" alt="START AGAIN" src="/static/images/u320-4.png?crc=190514461" data-image-width="104"/></div></a>
   <a class="nonblock nontext" id="u318-4" href="/frontend"><!-- rasterized frame --><div id="u318-4-wrapper"><img id="u318-4_img" alt="FILM / DRAMA / LOSS" src="/static/images/u318-4.png?crc=112033837" data-image-width="324"/></div></a>
   <div class="verticalspacer" data-offset-top="0" data-content-above-spacer="0" data-content-below-spacer="500" data-sizePolicy="fixed" data-pintopage="page_fixedLeft"></div>
  </div>
{%endblock%}
