{% extends 'frontend/base.html'%} 
{% block title %}genre_selection{% endblock %}
{% block content %}
  <div class="clearfix borderbox" id="page"><!-- group -->
   <div id="u151-4-wrapper">
    <img id="u151-4" alt="USER X" src="/static/images/u151-4.png?crc=4290352754" data-image-width="49"/><!-- rasterized frame -->
   </div>
   <div id="u155-wrapper">
    <div id="u155"><!-- simple frame --></div>
   </div>
   <div id="u150-wrapper">
    <a class="nonblock nontext MuseLinkActive" id="u150" href="/frontend/genre_selection"><!-- simple frame --></a>
   </div>
   <a class="nonblock nontext" id="u154-3" href="/frontend/action_theme_selection"><!-- rasterized frame --><div id="u154-3-wrapper"><div id="u154-3_img"></div></div></a>
   <a class="nonblock nontext" id="u160-3" href="/frontend/drama_theme_selection"><!-- rasterized frame --><div id="u160-3-wrapper"><div id="u160-3_img"></div></div></a>
   <a class="nonblock nontext" id="u166-3" href="/frontend/comedy_theme_selection"><!-- rasterized frame --><div id="u166-3-wrapper"><div id="u166-3_img"></div></div></a>
   <a class="nonblock nontext" id="u153-4" href="/frontend/action_theme_selection"><!-- rasterized frame --><div id="u153-4-wrapper"><img id="u153-4_img" alt="ACTION" src="/static/images/u153-4.png?crc=4087635773" data-image-width="174"/></div></a>
   <a class="nonblock nontext" id="u163-4" href="/frontend/drama_theme_selection"><!-- rasterized frame --><div id="u163-4-wrapper"><img id="u163-4_img" alt="DRAMA" src="/static/images/u163-4.png?crc=42182499" data-image-width="174"/></div></a>
   <a class="nonblock nontext" id="u169-4" href="/frontend/comedy_theme_selection"><!-- rasterized frame --><div id="u169-4-wrapper"><img id="u169-4_img" alt="COMEDY" src="/static/images/u169-4.png?crc=4279768907" data-image-width="174"/></div></a>
   <a class="nonblock nontext" id="u169-4" href="/frontend/comedy_theme_selection"><!-- rasterized frame --><div id="u169-4-wrapper"><img id="u169-4_img" alt="COMEDY" src="/static/images/u169-4.png?crc=4279768907" data-image-width="174"/></div></a>
   <div id="u152-4-wrapper">
    <img id="u152-4" alt="AI VIEW" src="/static/images/u152-4.png?crc=3777459588" data-image-width="52"/><!-- rasterized frame -->
   </div>
   <div id="u172-4-wrapper">
    <img id="u172-4" alt="SELECT A GENRE" src="/static/images/u172-4.png?crc=3959176500" data-image-width="154"/><!-- rasterized frame -->
   </div>
   <a class="nonblock nontext" id="u157-4" href="/frontend/"><!-- rasterized frame --><div id="u157-4-wrapper"><img id="u157-4_img" alt="START AGAIN" src="/static/images/u157-4.png?crc=190514461" data-image-width="104"/></div></a>
   <a class="nonblock nontext" id="u214-4" href="/frontend"><!-- rasterized frame --><div id="u214-4-wrapper"><img id="u214-4_img" alt="FILM /" src="/static/images/u214-4.png?crc=15245346" data-image-width="324"/></div></a>
   <div class="verticalspacer" data-offset-top="0" data-content-above-spacer="0" data-content-below-spacer="500" data-sizePolicy="fixed" data-pintopage="page_fixedLeft"></div>
  </div>
 {% endblock %}
